.titulo{
    background-color: darkgray;
    width: auto;
    height: 100px;
    background-size: contain; 
    left: 0%;
    color: lightgray;
    border-radius: 20px;
}

h1{
    text-align: center;
}

body{
    background: linear-gradient(to bottom, lightgray, black);
}

.division{
    position:relative;
    top: 5px;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    text-align: center;
    background-color: lightgray;
    width: 700px;
    border-radius: 20px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.menu {
    list-style-type: none;
    text-align: center;
}
.menu a:hover {
    background-color: greenyellow; 
    border-radius: 20px;
}
.menu li {
    display: inline-block;
    padding-left: 20px; 
    background: url('https://res.cloudinary.com/dxdxnarjb/image/upload/v1711508605/world_vnvqvq.png') no-repeat left center; 
    background-size: contain; 
    margin-bottom: 10px; 
    margin-right: 25px; 
    background-color: lightgray;
    border-style: double;
    border-radius: 20px;
}

p{
    color: black;
    text-align: center;
}
#lista {
    color: black;
    text-align: justify;
}

.image{
    background: url('https://res.cloudinary.com/dxdxnarjb/image/upload/v1712095059/6Tr5oBLac_prm9u0.png') no-repeat;
    background-size: contain; 
    width: 400px;
    height: 400px;
    position: absolute;
    left: auto;
    top: 300px;
    transform: translateY(-50%);
}

#menu_movil{
    position: absolute;
    margin-top: 25px;
    width: 200px;
    height: 250px;
    background-color: black;
    border-radius: 20px;
}
.limovil{
    display: inline-block;
    padding-left: 20px; 
    background-size: contain; 
    margin-bottom: 10px; 
    margin-right: 25px; 
    background-color: lightgray;
    border-style: double;
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
   .image{
    display: none;
   }
    #ocultar{
        display: none;
       }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .image{
        display: none;
       }
    #ocultar{
    display: none;
   }
   .lista_movil{
    list-style-type: none;
   }
}

@media only screen and (min-width: 1025px) {
    #menu_movil{
        display: none;
    }
}
